# Environments files (not the Angular ones!)
**/.env.development
**/.env.production
**/.venv
.env

# Backend env (contains secrets)
backend_ndi_2025/.env

# Do not ignore Angular environment files (they don't contain secrets in prod)
!frontend_ndi_2025/src/environments/
!frontend_ndi_2025/src/environments/*.ts

# Local files
**/delDeps.bat
**/noteRU.txt
**/.vscode
**/note.txt

#node_modules
**/node_modules

# Logs
**/logs

dist

