**/node_modules
**/.env.development
**/.env.production
**/.env.test
**/.env.test.development
**/.env.test.production
**/.env.test.development.local
**/.env.test.production.local
**/.env.test.development.local.example
**/.env.test.production.local.example
**/dist